<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="css/main.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
  body
    .container
      h1 Random Quote Generator  
      .card
        .title
          a.tweet.btn(href="") <i class="ion-social-twitter"></i> Tweet
            
        p.quote 
        span.author &#8212; <span class="guy"></span>
        a.next.btn(href="#") Next
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="js/main.js")
          
  
